{

      "configuration": {
        "host" : "localhost",
        "port" : 9000,
        "endpoint": "paraview",
        "proxy_file" : "/opt/websim/proxy.txt",
        "sessionURL" : "ws://{{ groups['cmbweb'][0] }}/pvwlocal?sessionId=${id}",
        "timeout" : 5,
        "log_dir" : "/tmp",
        "upload_dir" : "/.../data",
        "fields" : ["token", "mesh"]
      },

      "sessionData" : { "updir": "/Home" },

      "resources" : [ { "host" : "localhost", "port_range" : [9001, 9999] } ],

      "properties" : {
        "python_exec" : "/opt/websim/paraview/install/bin/pvpython",
        "girder": "http://{{ groups['girder'][0] }}:8080/api/v1",
        "meshViewer" : "/opt/websim/cmb-web/scripts/hydra-ne/pv_mesh_viewer.py"
      },


      "apps" : {
        "mesh-viewer": {
          "cmd" : [
            "${python_exec}", "${meshViewer}", "--port", "${port}", "-f", "--token", "${token}", "--url", "${girder}", "--mesh", "${mesh}"
              ],
          "ready_line" : "Starting factory"
        }
     }
}

