{

      "configuration": {
        "host" : "localhost",
        "port" : 9000,
        "endpoint": "paraview",
        "proxy_file" : "/opt/hpccloud/proxy.txt",
        "sessionURL" : "ws://{{ groups['hpccloud'][0] }}/pvwlocal?sessionId=${id}",
        "timeout" : 10,
        "log_dir" : "/tmp",
        "upload_dir" : "/.../data",
        "fields" : ["token", "mesh"]
      },

      "sessionData" : { "updir": "/Home" },

      "resources" : [ { "host" : "localhost", "port_range" : [9001, 9999] } ],

      "properties" : {
        "python_exec" : "/opt/hpccloud/paraview/install/bin/pvpython",
        "girder": "http://{{ groups['girder'][0] }}:8080/api/v1",
        "meshViewer" : "/opt/hpccloud/hpccloud/scripts/hydra-th/pv_mesh_viewer.py",
        "resultViewer" : "/opt/hpccloud/hpccloud/scripts/hydra-th/pv_result_viewer.py"
      },


      "apps" : {
        "meshtagger": {
          "cmd" : [
            "${python_exec}", "${meshViewer}", "--port", "${port}", "-f", "--token", "${token}", "--url", "${girder}", "--file", "${file}"
              ],
          "ready_line" : "Starting factory"
        },
  "result-viewer" : {
          "cmd" : [
            "${python_exec}", "${resultViewer}", "-f",
              "--port", "${port}",
              "--url", "${girder}",
              "--token", "${token}",
              "--itemId", "${itemId}"
          ],
          "ready_line" : "Starting factory"
        }

     }
}

