{
    "girder": {
        "baseUrl": "http://{{ get_private_ip.stdout }}:8080/api/v1",
        "user": "cumulus",
        "group": "cumulus"
    },
    "moabReader": {
        "pluginPath": "/opt/websim/moabreader/build/libvtkCmbMoabReaderPlugin.so"
    },
        "ssh": {
        "keyStore": "{{ keys_directory }}"
    },

    "amis": {
        {{ get_amis.stdout }}
    }
}
