{
    "girder": {
        {% if get_private_ip.stdout is defined %}
        "baseUrl": "http://{{ get_private_ip.stdout }}:{{girder_external_port|default(8080)}}/api/v1",
        {% else %}
        "baseUrl": "http://{{local_hostname.stdout if inventory_hostname == 'hpccloud' else 'localhost'}}:{{girder_external_port|default(8080)}}/api/v1",
        {% endif %}
        "user": "cumulus",
        "group": "cumulus"
    },
    "moabReader": {
            "pluginPath": "/opt/hpccloud/moabreader/build/libvtkCmbMoabReaderPlugin.so"
    },
        "ssh": {
        "keyStore": "{{ keys_directory }}"
    },

    "amis": {
        {% if get_amis.stdout is defined %}
        {{ get_amis.stdout }}
        {% endif %}
    },
    "taskflow": {
        "path": ["/opt/hpccloud/hpccloud/server/taskflows"]
    }
}
