git submodule update --init
cd ../build
cmake -D BUILD_TESTING:BOOL=OFF \
      -D PARAVIEW_ENABLE_PYTHON:BOOL=ON \
      -D PARAVIEW_BUILD_QT_GUI:BOOL=OFF \
      -D CMAKE_INSTALL_PREFIX:PATH=/opt/websim/paraview/install \
      -D VTK_USE_X:BOOL=OFF \
      -D OPENGL_INCLUDE_DIR:PATH=/opt/mesa/10.2.5/llvmpipe/include \
      -D VTK_OPENGL_HAS_OSMESA:BOOL=ON \
      -D OSMESA_ROOT:PATH=/opt/mesa/10.2.5/llvmpipe \
      -D OSMESA_INCLUDE_DIR:PATH=/opt/mesa/10.2.5/llvmpipe/include \
      ../src

# Need to configure again for some reason!
cmake .

make -j{{ ansible_processor_cores }}